body {
    margin: 0;
    background: #f3e5d8;
}

.main-container {
    display: flex;
    margin: 80px auto;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.omelette {
    width: 400px;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
}

h1 {
    font-family:'Young Serif', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #524f4e;
    margin-bottom: 0px;
}

p {
    font-family: 'Outfit', sans-serif;
    color: #9b9a96;
    font-size: 12px;
    margin-bottom: 0px;
}

.preparation-container {
    display: flex;
    justify-content:left;
    background: #fff7fc;
    flex-direction: column;
    padding: 6px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.preparation-header {
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    color: #8b4965;
    font-weight: 700;
    margin-bottom: 10px;
}

.preparation-list {
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    color: gray;
    margin-top: 0px;
    margin-left: 0px;
    gap: 20px;
    padding-left: 15px;
}

.preparation-list li {
    margin-bottom: 7px;
}

h2 {
    color: #86463a;
    font-family:'Young Serif', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;
}

.ingredients-list, .instructions-list {
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    padding-left: 15px;
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
    gap: 20px;
}

.ingredients-list li, .instructions-list li{
    margin-bottom: 7px;
}

.instructions, .nutrition {
    border-top: 1px solid lightgray;
    margin-top: 20px;
}

.nutrition-table {
    text-align: left;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    color: gray;
}

.bold-styling {
    font-weight: 600;
}

.table-cells-styling {
    font-weight: 600;
    color: #885a52;
}

td {
    padding: 10px 0;
    padding-left: 20px;
    border-bottom: 1px solid lightgray;
}

.nutrition-description {
    margin-bottom: 10px;
}